body {
    background-image: url("img/novo.jpg");
    background-repeat: no-repeat;
    background-color: rgb(92, 89, 89);
}

.cabecalho {
    position: relative;
    width: 100%;
    height: 108px; 
    background-color: white; 
    opacity: 10%;
    border: 1px;
}

.bemvindo {
    position: relative;
    width: 100%;
    height: 234px; 
    background-color: white; 
    opacity: 30%;
    border: 1px;
}

.produtos {
    position: relative;
    width: 100%;
    height: 275px; 
    background-color: white; 
    opacity: 10%;
    border: 1px;
}

.promocao {
    position: relative;
    width: 100%;
    height: 275px; 
    background-color: white; 
    opacity: 30%;
    border: 1px;
}

.contato {
    position: relative;
    width: 100%;
    height: 20px; 
    background-color: white; 
    opacity: 30%;
    border: 1px;
}

.rodape {
    position: relative;
    width: 100%;
    height: 60px; 
    background-color: white; 
    opacity: 10%;
    border: 1px;
}

/*cabecalho*/

.menu {
    margin-top: 15px;
    padding: 20px;
    font-family: sans-serif;
    font-size: 16px;
}

.menu ul {
    list-style: none;
    margin: 0px;
    padding: 35px;
    display: flex;
}

.menu ul li {
    height: 96px;
    width: 710px;
    list-style: none;
}

.menu ul li a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 10px;
	border-radius: 5px;
	color: #000000;
}

.menu ul li a:hover {
    background: #e85846;    
    color: #FFFFFF;
}

.pesquisa {
    margin-left: 50px;
    width: 800px;
    height: 32px;
}

.pesquisa #pesquisa{
    width: 250px;
}

/*bem vindo*/

img {
    width: 100px;
}


/*produtos*/

.produtos {
    margin-top: 20px;
    padding: 15px;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
}  

.produtos ul {
    list-style: none;
    margin: 0px;
    padding: 70px 50px 50px;
    display: flex;
}

.produtos ul li {
    margin-left: 200px;
    margin-top: 20px;
}

.produtos ul li a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 10px;
	border-radius: 5px;
	color: #000000;
}

.produtos ul li a:hover {
    background: #e85846;
    color: #ffffff;
}

.acessorios-menu {
    position: absolute;
   box-shadow: 0 0 2px #000000;
   display: none;
}

.acessorios-menu a {
    display: block;
}

.acessorios:hover .acessorios-menu {
    display: block;
}

.celulares-menu {
    position: absolute;
   box-shadow: 0 0 2px #000000;
   display: none;
}

.celulares-menu a {
    display: block;
}

.celulares:hover .celulares-menu {
    display: block;
}

.computadores-menu {
    position: absolute;
   box-shadow: 0 0 2px #000000;
   display: none;
}

.computadores-menu a {
    display: block;
}

.computadores:hover .computadores-menu {
    display: block;
}

.eletronicos-menu {
    position: absolute;
   box-shadow: 0 0 2px #000000;
   display: none;
}

.eletronicos-menu a {
    display: block;
}

.eletronicos:hover .eletronicos-menu {
    display: block;
}

/*direitos*/

.rodape{
    text-align: center;
}

.rodaé h2 {
    text-align: center;
}

.direitos {
    width: 880px;
    padding: 0px;
    margin-right: 150px;
}

.direitos h2 {
    color: #000000;
    font-size: -5px;
    text-align: center;
    font-weight: normal;
}




