body {
    background-image: url("img/novo.jpg");
    background-repeat: no-repeat;
    background-color: rgb(105, 111, 116);
}

.cabecalho {
    position: relative;
    width: 100%;
    height: 108px; 
    background-color: white; 
    opacity: 90%;
    border: 1px;
}

.bemvindo {
    position: relative;
    width: 100%;
    height: 275px; 
    background-color: white; 
    opacity: 90%;
    border: 1px;
}

.produtos {
    position: relative;
    width: 100%;
    height: 275px; 
    background-color: white; 
    opacity: 90%;
    border: 1px;
}

.promocao {
    position: relative;
    width: 100%;
    height: 275px; 
    background-color: white; 
    opacity: 90%;
    border: 1px;
}

.contato {
    position: relative;
    width: 100%;
    height: 275px; 
    background-color: white; 
    opacity: 90%;
    border: 1px;
}

.rodape {
    position: relative;
    width: 100%;
    height: 60px; 
    background-color: white; 
    opacity: 90%;
    border: 1px;
}

/*cabecalho*/

.menu {
    margin-top: 15px;
    padding: 20px;
    font-family: sans-serif;
    font-size: 16px;
}

.menu ul {
    list-style: none;
    margin: 0px;
    padding: 35px;
    display: flex;
}

.menu ul li {
    height: 96px;
    width: 710px;
    list-style: none;
    margin-left: 200px; 
}

.menu ul li a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 10px;
	border-radius: 5px;
	color: #000000;
}

.menu ul li a:hover {
    background: #e85846;    
    color: #FFFFFF;
}

.pesquisa {
    margin-left: 50px;
    width: 800px;
    height: 32px;
}

.pesquisa #pesquisa{
    width: 250px;
}

/*bem vindo*/

.bemvindo {
    margin-top: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.bemvindo p {
    font-family: monospace;
    font-size: 20px;
    color: #000000;
    margin-left: 300px;

}

.bemvindo img {
    margin-left: 150px;
}


/*produtos*/




.produtos {
    margin-top: 20px;
    padding: 15px;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
}  

.produtos ul {
    list-style: none;
    margin: 0px;
    padding: 70px 50px 50px;
    display: flex;
}

.produtos ul li {
    margin-left: 200px;
    margin-top: 20px;
}

.produtos ul li a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 10px;
	border-radius: 5px;
	color: #000000;
}

.produtos ul li a:hover {
    background: #e85846;
    color: #ffffff;
}

.acessorios-menu {
    position: absolute;
   box-shadow: 0 0 2px #000000;
   display: none;
}

.acessorios-menu a {
    display: block;
}

.acessorios:hover .acessorios-menu {
    display: block;
}

.celulares-menu {
    position: absolute;
   box-shadow: 0 0 2px #000000;
   display: none;
}

.celulares-menu a {
    display: block;
}

.celulares:hover .celulares-menu {
    display: block;
}

.computadores-menu {
    position: absolute;
   box-shadow: 0 0 2px #000000;
   display: none;
}

.computadores-menu a {
    display: block;
}

.computadores:hover .computadores-menu {
    display: block;
}

.eletronicos-menu {
    position: absolute;
   box-shadow: 0 0 2px #000000;
   display: none;
}

.eletronicos-menu a {
    display: block;
}

.eletronicos:hover .eletronicos-menu {
    display: block;
}

/*promoção*/
 
.promocao {
    display: flex;
    flex-direction: row;  /*<!-- organiza os itens em uma linha horizontal.-->*/
    justify-content: space-evenly;
    margin-top: 20px;
}

.promocao ul li {
    display: inline-block;
    margin-right: 150px;
}

 .promocao img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3;
 }

 form button {
    width: 200px;
    padding: 5px;
    border: none;
    background: #b93535;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
 }

 form button:hover {
    display: block;
    background: #e85846;
 }




/*contato*/

.contato {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.linkscontato {
    width: 185px;
	padding: 20px;
	float: left;
}

.contato ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.contato ul li a {
	text-decoration: none;
	color: #000000;
	font-family: Century Gothic, sans-serif;
	font-size: 16px;
}

.contato ul li a:hover {
	font-size: 18px;
	color: #E85846;
}

.linkscontato1 {
	width: 185px;
	padding: 20px;
	float: left;
}

.dadosrodape1, .dadosrodape2 {
	overflow: hidden;
}

.dadosrodape1 p, .dadosrodape2 p {
	color: #FFFFFF;
	text-indent: 0px;
}


.linkscontato2 {
    width: 185px;
	padding: 20px;
	float: left;
}

.linkscontato3 {
	width: 185px;
	padding: 20px;
	float: left;
    list-style: none;
}

.linksrodape3 a {
	text-decoration: none;
	font-family: century gothic, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}

.linksrodape3 ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.linksrodape3 ul li {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

.linksrodape3 ul li a, .imgrodape ul li img {
	vertical-align: middle;
}

.linksrodape3 ul li img {
	height: 25px;
	width: 25px;
}

/*direitos*/

.direitos {
    width: 100%;
    padding: 0px;
}

.direitos h2 {
    color: #000000;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}




